
.weather-indicate-image{
    box-sizing: border-box;
    display: contents;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

.custom-card {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    color: rgb(231, 231, 231);
    border: none;
    margin: 20px;
    width: 300px;
    height: 149px;


}

.location {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.datetime {
    font-size: 8px;
    text-align: center;
}

.weather {
    font-size: 10px;
    text-align: center;
    padding-left: 0px;
}

.temperature {
    font-size: 25px;
    text-align: center;
}

.max-temp {
    font-size: 8px;
    text-align: center;
}

.min-temp {
    font-size: 8px;
    text-align: center;
}


.align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.new-div {
    display: flex;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 16px;
    background-color: rgb(49, 49, 49, 1);
    font-size: 10px;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
}

.back-img{
    display: flex;


    background-repeat: no-repeat;

    overflow: hidden;
    align-items: first baseline;
    justify-self: start;

  
}




.new-div-content {
    display: contents;
    padding-top: 50px;
    justify-content: space-between;
    text-align: center;
}



.nav_img{
    width: 5;
    height: 5px;
    box-sizing: border-box;
    display: contents;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.new-div-part {
    flex: 1;
    border: 1px solid #ccc;
    padding: 5px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


.card-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1
}



  

  .close-button {
    width: 20px;
    height: 20px;
    background: none;
    background-image: url('img/close.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -15px;
    right: 18px;
  }

  .close-container{

    position: absolute; top: -15px; right: 18px;
  }

  
.top-left-text{

    text-align: center;
    display: block;
    padding-right: 50px;
    padding-left: 20px;
}

.top-right-text{
    text-align: center;
    display: block;
    padding-right: 0px;
    padding-left: 15px;
  

}
  .location {
    display: flex;

  }
 
  .datetime {
    display: flex;
    padding-left: 10px;
  
  }

  .weather-indicate-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0px;
  }
  

  .temperature {
    font-size: 28px;
    text-align: center;
  }
  
  
  .man-temp {
    font-size: 10px;
    text-align: center;
  }
  
 
  .mix-temp {
    font-size: 10px;
    text-align: center;
  }
  


  
.card-img-top {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  .card-img-top img{
    
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;


  
  }
  .vertical-line {
    border-right: 1px solid #ffffff;
    height: 35px;
    position: relative;

}
